/* Grup Selectörler  */


/* div p {
    color: red;
} */


/* .container div p {
    color: royalblue;
} */


/*  p den hemen sonra gelen divi seçmek için */


/* p+div {
    color: seagreen;
} */


/* div+p {
    color: red;
} */